body{
    margin: 0px;
}
.green{
    width: 600px;
    height: 300px;
    background: rgb(3, 88, 3);
    position: relative;
}

.red{
    width: 150px;
    height: 150px;
    background: rgb(211, 4, 4);
    border-radius: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.sticky{
    border: 2px solid red;
    color: white;
    background: black;
    padding: 10px;
    position: sticky;
    top: 0;
}

.abir{
    padding-bottom: 500px;
}
.box{
    width: 500px;
    height: 250px;
    border: 2px solid red;
    position: relative;
}

.box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.f3{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}
.f1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.f2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}