@media screen and (max-width: 1200px) {
    .row {
        width: 100%;
        padding: 0 30px;
    }
    .close-button ion-icon {
        right: 120px;
    }
}
@media screen and (max-width: 1024px) {
    .row {
        width: 95%;
        padding: 0 75px;
    }
    .grid-process-container,
    .grid-work-container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(265px, auto);
    }
    .grid-work-items:nth-child(5) {
        grid-column: 1/2;
    }
    .paul {
        height: 100%;
    }
    .menu-items ul li a {
        position: relative;
        bottom: 50px;
        left: -4%;
    }
}
@media screen and (max-width: 768px) {
    .grid-about-container {
        grid-template-columns: 1fr;
    }
    .paul {
        width: 60%;
    }
    .description {
        width: 100%;
    }
    .work-filter button {
        font-size: 120%;
    }
    .grid-about-items {
        text-align: center;
    }
    .grid-experience-container,
    .grid-contact-container {
        grid-template-columns: 1fr;
    }
    .grid-testimonial-container {
        grid-template-columns: 1fr;
    }
    .testimonial-items p {
        width: 100%;
    }
    .grid-work-container {
        grid-template-columns: 1fr;
    }
    .grid-work-container {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(385px, auto);
    }
    footer {
        background: #222;
        padding: 60px 0;
        text-align: center;
    }
    .menu-items ul li a {
        position: relative;
        bottom: 100px;
        left: -9%;
    }
    .close-button ion-icon {
        right: 300px;
    }
}
@media screen and (max-width: 540px) {
    html,
    body {
        font-size: 8px;
    }
    .row {
        width: 100%;
        margin: auto;
        padding: 40px;
    }
    .hero-text-box {
        width: 90%;
    }
    .grid-about-items img {
        width: 100%;
        margin-left: 1px;
    }
    .grid-about-items p {
        margin-left: 18px;
    }
    .grid-process-container {
        grid-template-columns: 1fr;
    }
    .grid-work-container {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(300px, auto);
    }
    .menu-items ul li a {
        position: relative;
        bottom: 0;
        left: -0%;
    }
    .close-button ion-icon {
        top: 60px;
        right: 35px;
    }
    .sticky{
        margin-top: -40px;
    }
}
@media screen and (max-width: 480px) {
    html,
    body {
        font-size: 8px;
    }
    .row {
        width: 100%;
        margin: auto;
        padding: 40px;
    }
    .hero-text-box {
        width: 90%;
    }
    .grid-about-items img {
        width: 100%;
        margin-left: 1px;
    }
    .grid-about-items p {
        margin-left: 18px;
    }
    .grid-process-container {
        grid-template-columns: 1fr;
    }
    .grid-work-container {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
    }
    .menu-items ul li a {
        position: relative;
        top: -20px;
        left: 0%;
    }
    .close-button ion-icon {
        top: 60px;
        right: 40px;
    }
}
@media screen and (max-width: 375px) {
    .work-filter button {
        font-size: 100%;
        margin: 5px 0px;
    }
    .menu-items ul li a {
        position: relative;
        top: -20px;
        left: 0%;
    }
    .close-button ion-icon {
        top: 60px;
        right: 40px;
    }
}
@media screen and (max-width: 360px) {
    html,
    body {
        font-size: 8px;
    }
    .row {
        width: 100%;
        margin: auto;
        padding: 40px;
    }
    .hero-text-box {
        width: 90%;
    }
    .grid-about-items img {
        width: 100%;
        margin-left: 1px;
    }
    .grid-about-items p {
        margin-left: 18px;
    }
    .grid-process-container {
        grid-template-columns: 1fr;
    }
    .grid-work-container {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(185px, auto);
    }
    .work-filter button {
        font-size: 100%;
        margin: 5px 0px;
    }
    .menu-items ul li a {
        position: relative;
        top: 50px;
        left: 0%;
    }
    .close-button ion-icon {
        top: 60px;
        right: 40px;
    }
}
@media screen and (max-width: 320px) {
    html,
    body {
        font-size: 8px;
    }
    .row {
        width: 100%;
        margin: auto;
        padding: 40px;
    }
    .hero-text-box {
        width: 90%;
    }
    .grid-about-items img {
        width: 100%;
        margin-left: 1px;
    }
    .grid-about-items p {
        margin-left: 18px;
    }
    .grid-process-container {
        grid-template-columns: 1fr;
    }
    .grid-work-container {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(158px, auto);
    }
}
@media screen and (max-width: 280px) {
    html,
    body {
        font-size: 8px;
    }
    .row {
        width: 100%;
        margin: auto;
        padding: 40px;
    }
    .hero-text-box {
        width: 90%;
    }
    .grid-about-items img {
        width: 100%;
        margin-left: 1px;
    }
    .grid-about-items p {
        margin-left: 18px;
    }
    .grid-process-container {
        grid-template-columns: 1fr;
    }
    .grid-work-container {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(130px, auto);
    }
    .menu-items ul li a {
        position: relative;
        top: 0;
        left: 0%;
    }
    .close-button ion-icon {
        top: 60px;
        right: 55px;
    }
}
